# ==========================================
# TinkerOnBwHPC  Configuration
# ==========================================

# Your HPC Username
HPC_USER="your_username_here"

# Your HPC Project ID / Workspace (e.g., hk-project-...)
HPC_PROJECT="your_project_id_here"

# The Hostname for HPC
HPC_HOST="hk.scc.kit.edu"

# Networking Ports for the SSH Tunnel
LOCAL_PORT=8000
REMOTE_PORT=8000

# Default Model Configuration
BASE_MODEL="Qwen/Qwen2.5-0.5B-Instruct"

# Partition for downloading and building the Apptainer image
SETUP_PARTITION="cpuonly"

# Partition for running the Tinker API 
RUN_PARTITION="accelerated"

# Number of GPUs to allocate per node for the API
GPU_COUNT=4
